    {{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper">
            <article class="post">
                <header>
                    <h1>
                        {{ .Title }}
                    </h1>
                    <h2 class="headline">
                    {{ .Date.Format "Jan, 2006" }}
                      <span class="tags">
                      {{ with .Params.tags }}
                      {{ if ge (len .) 1 }}
                          {{ range . }}
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                          {{ end }}
                      {{ end }}
                      {{ end}}
                      </span>
                    </h2>
                </header>
                {{ if .Site.Params.enableToc }}
                  {{ if .TableOfContents }}
                    <div id="toc">
                      {{ .TableOfContents }}
                    </div>
                  {{ end }}
                {{ end }}
                <section id="post-body">
                    {{ .Content }}
                </section>

            </article>


<center>
<p class="medium-footer">
     <a href="https://github.com/21zoo/stuff.21zoo.com/blob/master/content/{{ .File.Path }}" target="_blank" style="color: white">See something that's wrong?  Submit a fix it on Github!</a>
</p>
</center>

            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
